<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partial/head %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="/stylesheets/lib/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/stylesheets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/helper.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <% include ../partial/header %>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <% include ../partial/leftSidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Member Registration</h3> </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Members</a></li>
                <li class="breadcrumb-item active">Add Member</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
              <!-- Start Page Content -->
              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#student" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">For Student</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#staff" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">For Staff</span></a> </li>

                            </ul>
                            <div class="tab-content tabcontent-border">
                              <div class="tab-pane active p-20" id="student" role="tabpanel">
                                <br>

                              <div class="form-validation">
                                  <form class="form-valide" name="frm" action="/members/add" method="post">
                                    <input type="hidden" name="ent_id" id="ent_id" value="">
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="ent_no">Entery Number <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="ent_no" name="ent_no" placeholder="Enter a Student Entery Number..">
                                          </div>
                                          <div class="col-lg-2" id="adminsp" style="margin-top: -10%;">
                                            <span id="adminmsg"></span>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="val-password">Password <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="password" class="form-control" id="val-password" name="password" placeholder="Enter password...">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="rfid">RFID <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="rfid" name="rfid" placeholder="Your RFID number">
                                          </div>
                                      </div>


                                      <div class="form-group row">
                                          <div class="col-lg-8 ml-auto">
                                              <button type="button" id="submitit" class="btn btn-success" hidden>Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                            </div>
                            <div class="tab-pane p-20" id="staff" role="tabpanel">
                              <br>
                              <div class="form-validation">
                                  <form class="form-valide" id="forStaff" name="formm" action="/members/addstaff" method="post">
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="username">Enter Name <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="username" name="username" placeholder="Enter a Name..">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="passwordsf">Password <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="password" class="form-control" id="passwordsf" name="passwordsf" placeholder="Enter password...">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="rfidsf">RFID <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="rfidsf" name="rfidsf" placeholder="Your RFID number">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="val-phoneus">Phone No. <span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="val-phoneus" name="phone" placeholder="0988888">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dept">Department<span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <select class="form-control" id="dept" name="dept">
                                                  <option value="">Select Department</option>
                                                  <option value="IT">IT</option>
                                                  <option value="CIVIL">Civil</option>
                                                  <option value="MP">MP</option>
                                                  <option value="EP">EP</option>
                                                  <option value="EC">EC</option>
                                                  <option value="MC">MC</option>
                                                  <option value="ENGLISH">English</option>
                                                  <option value="MATH">Math</option>
                                                  <option value="MYANMAR">Myanmar</option>
                                                  <option value="PHYSIC">Physic</option>
                                                  <option value="CHEMISTRY">Chemistry</option>
                                                  <option value="STU_AFF">Student Affair</option>
                                                  <option value="STA_AFF">Staff Affair</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="ocp">Occupation<span class="text-danger">*</span></label>
                                          <div class="col-lg-6">
                                              <select class="form-control" id="ocp" name="ocp">
                                                  <option value="">Select Occupation</option>
                                                  <option value="Professer">Professer</option>
                                                  <option value="Associate Professer">Associate Professer</option>
                                                  <option value="Lecturer">Lecturer</option>
                                                  <option value="Assistant Lecturer">Assistant Lecturer</option>
                                                  <option value="Tutor">Tutor</option>
                                                  <option value="Demonstrator">Demonstrator</option>
                                                  <option value="Officer">Officer</option>
                                                  <option value="Others">Others</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <div class="col-lg-8 ml-auto">
                                              <button type="button" id="submitb" class="btn btn-success">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End PAge Content -->
          </div>


            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <% include ../partial/footer %>
          <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <div class="modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="showData">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-20">
          <h2>Student Details</h2>
          <div class="modal-body">
            <div id="showMo">

            </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- All Jquery -->
  <% include ../partial/javascript %>
  <script src="/javascripts/lib/form-validation/jquery.validate.min.js"></script>
  <script src="/javascripts/lib/form-validation/jquery.validate-init.js"></script>
  <script src="/javascripts/lib/sweetalert/sweetalert.min.js"></script>
  <script src="/javascripts/lib/toastr/toastr.min.js"></script>
  <!-- scripit init-->
  <script src="/javascripts/lib/toastr/toastr.init.js"></script>
  <script src="/javascripts/socket.io.js" charset="utf-8"></script>
  <!--Custom JavaScript -->

</body>
<script type="text/javascript">
$('#submitit').click(function () {
  var data = { ent_no : $('#ent_no').val(),rfid:$('#rfid').val(),type:'01'};
  if(data.ent_no == ''|| data.rfid =='') return;
  $.ajax({url:"/members/duplicate", data:data, type:"POST", success: function (result) {
    if(result.status == false){
      sweetAlert("Oops...", result.msg, "error");
      $('#ent_no').val('');
      $('#rfid').val('');
      $('#ent_no').focus();
    }else {
      frm.submit();
    }
  }});
});

$('#submitb').click(function () {
  var data = { type: '00',rfid:$('#rfidsf').val()};
  if(data.rfid =='') return;
  console.log('/////',data);
  $.ajax({url:"/members/duplicate", data:data, type:"POST", success: function (result) {
    if(result.status == false){
      sweetAlert("Oops...", result.msg, "error");
      $('#rfidsf').val('');
      $('#rfidsf').focus();
    }else {
      formm.submit();
      // document.getElementById('forStaff').submit();
    }
  }});
});

var socket = io();
socket.on('rfid',function (data) {
  if(data) {
    $('#rfid').val(data);
    $('#rfidsf').val(data);
  }
});

var timeout = null;
var ent_no = document.getElementById('ent_no');
ent_no.onkeyup = function (e) {
  clearTimeout(timeout);
  $('#adminmsg').html('<svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="7" fill="none" stroke-width="3" stroke-miterlimit="10" /> </svg>')
  timeout = setTimeout(function () {
    $.post(
      '/members/checkentery',
      {ent_no : $('#ent_no').val()}
    ).done(function (res) {
      if(res.status){
        $('#ent_id').val(res.student._id);
        $('#submitit').removeAttr('hidden');
        $('#adminmsg').html('<i class = "fa fa-check" style ="color:green;"></i>');
        $('#showData').modal('show');
        $('#showMo').html('Name: '+res.student.name+'<br> Major: '+res.student.major+'<br> Year: '+res.student.year+'<br> Roll No: '+res.student.roleNo+'<br> AC Year: '+res.student.ac_year);
      }else{
        $('#admshow').html(res.msg);
        $('#adminmsg').html('<i class = "fa fa-remove " style ="color:red;"></i>');
        $('#showData').modal('show');
        $('#showMo').html('Data Not Found!!');
      }
    }).fail(function (err) {
      console.log(err.status);
    });
  }, 1500);
}

</script>

</html>
