<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partial/head %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="/stylesheets/lib/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link href="/stylesheets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/helper.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <% include ../partial/header %>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <% include ../partial/leftSidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Book Registration</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Book</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="/books/add" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="book_name">Book Name <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Enter book name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="main_cat">Main Categories<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="main_cat" name="main_cat">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="sub_cat">Sub Categories<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="sub_cat" name="sub_cat">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="book_author">Author <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="book_author" name="book_author" placeholder="Book Author">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="pub_date">Published Date <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="date" class="form-control" id="pub_date" name="pub_date" placeholder="Published Date">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="book_range">Reading Range<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="book_range" name="book_range" placeholder="4">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="barcode">BarCode No<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="barcode" name="barcode" placeholder="489834343343424545">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <% include ../partial/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <% include ../partial/javascript %>
    <script src="/javascripts/lib/form-validation/jquery.validate.min.js"></script>
    <script src="/javascripts/lib/form-validation/jquery.validate-init.js"></script>
    <script src="/javascripts/lib/sweetalert/sweetalert.min.js"></script>
    <script src="/javascripts/lib/toastr/toastr.min.js"></script>
    <!-- scripit init-->
    <script src="/javascripts/lib/toastr/toastr.init.js"></script>

</body>
<script type="text/javascript">
  $('#book_name').blur(function () {
    var data = { book : $('#book_name').val()};
    if(data.book == '') return;
    $.ajax({url:"/books/duplicate", data:data, type:"POST", success: function (result) {
      if(result.status == false){
        sweetAlert("Oops...", result.msg, "error");
        $('#book_name').val('');
        $('#book_name').focus();
      }
    }});
  });

var categories = [<%- cat%>];
console.log(categories);

    addOptions('main_cat', categories);
    $("#main_cat").on('change', function(){
        var sub = $.grep( categories, function( n, i ) {
          return n.main_cat == $("#main_cat").val();
        });
        addOptions('sub_cat', sub);
    });

    function addOptions(id, arr){
        $("#"+id).children().remove();
        for(var idx in arr){
            if(idx == 0) $("#"+id).append(new Option('Select '+((id == 'main_cat')? "Main Category": "Sub Category"), ''));
            if(idx == 0 || arr[idx][id] != arr[idx-1][id]){
                $("#"+id).append(new Option(((id == 'main_cat')? str(arr[idx][id]):arr[idx][id]),arr[idx][id]));

            }
        }
    }

    function str(data) {
      switch (data) {
        case "A&M":
            return "Art & Music";
          break;
        case "Bio":
            return "Biographies";
          break;
        case "Bus":
            return "Business";
          break;
        case "Kid":
            return "Kids";
          break;
        case "Com":
            return "Comics";
          break;
        case "C&T":
            return "Computer & Tech";
          break;
        case "Cook":
            return "Cooking";
          break;
        case "H&C":
            return "Hobbies & Crafts";
          break;
        case "E&R":
            return "Edu & Reference";
          break;
        case "G&L":
            return "Gay & Lesbian";
          break;
        case "H&F":
            return "Health & Fitness";
          break;
        case "Hist":
            return "History";
          break;
        case "H&G":
            return "Home & Garden";
          break;
        case "Hor":
            return "Horror";
          break;
        case "Ent":
            return "Entertainment";
          break;
        case "L&F":
            return "Literature & Fiction";
          break;
        case "Med":
            return "Medical";
          break;
        case "Myst":
            return "Mysteries";
          break;
        case "Par":
            return "Parenting";
          break;
        case "Sos":
            return "Social Scienes";
          break;
        case "Reg":
            return "Regligion";
          break;
        case "Rom":
            return "Romance";
          break;
        case "S&M":
            return "Science & Math";
          break;
        case "S&F":
            return "Sci-fi & Fantasy";
          break;
        case "SelH":
            return "Self-Help";
          break;
        case "Spor":
            return "Sports";
          break;
        case "Teen":
            return "Teen";
          break;
        case "Tra":
            return "Travel";
          break;
        case "TruC":
            return "True Crime";
          break;
        case "West":
            return "Westerns";
          break;
        default:
           return "";
      }
    }

</script>

</html>
