<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/icon1.png">
<title>TU(Pathein) RFID based Library Management system</title>
<!-- Bootstrap Core CSS -->
<link href="/stylesheets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->

<!-- <link href="/stylesheets/lib/calendar2/semantic.ui.min.css" rel="stylesheet"> -->
<link href="/stylesheets/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
<!-- <link href="/stylesheets/lib/owl.carousel.min.css" rel="stylesheet" /> -->
<!-- <link href="/stylesheets/lib/owl.theme.default.min.css" rel="stylesheet" /> -->
<link href="/stylesheets/helper.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
