<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="/"><i class="fa fa-columns">&nbsp&nbsp</i><span>Index</span></a></li>
                  </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-label">Member</li>
                <li> <a a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Members</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li> <a href="/members/add" ><i class="fa fa-user-plus">&nbsp&nbsp</i><span>Add Member</span></a>
                    </li>
                    <li> <a href="/members/list" ><i class="fa fa-users">&nbsp&nbsp</i><span>Member List</span></a>
                    </li>
                    <li> <a href="/members/warn" ><i class="fa fa-user-times">&nbsp&nbsp</i><span>Warning Member List</span></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-label">Book</li>
                <li> <a a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Book</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li> <a href="/books/add" ><i class="fa fa-plus-circle">&nbsp&nbsp</i><span>Book Registration</span></a>
                    </li>
                    <li> <a href="/books/list" ><i class="fa fa-list-alt">&nbsp&nbsp</i><span>Book List</span></a>
                    </li>
                    <li> <a href="/books/history" ><i class="fa fa-history">&nbsp&nbsp</i><span>Book Borrowing History</span></a>
                    </li>
                    <li> <a href="/books/assignCat" ><i class="fa fa-bookmark">&nbsp&nbsp</i><span>Assign Book Categories</span></a>
                    </li>
                    <li> <a href="/books/catList" ><i class="fa fa-database">&nbsp&nbsp</i><span>Book Categories List</span></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-label">Library Process</li>
                <li> <a href="/members/auth"><i class="fa fa-key"></i><span class="hide-menu">Member Authorication</span></a></li>
                <!-- <li> <a href="/books/barcode"><i class="fa fa-barcode"></i><span class="hide-menu">Barcode Generator</span></a></li> -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
