<footer id="footer1" class="bg-blue">
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="footer-widget">
                    <div class="col-md-3 col-sm-6 col-xs-12 tb-height">
                        <div class="footer-widget-address">
                            <img src="/images/TU-1.jpeg" width="263px" alt="" class="img-responsive">
                            <ul class="footer-address">
                                <li><span class="et-line icon-map-pin"></span>A Pin 20, Kangyidown Township,Ayeyawaddy.</li>
                                <li><span class="et-line icon-mic"></span> +95 0001001</li>
                                <li><span class="et-line icon-global"></span>www.ptntu.org</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6 col-xs-12 tb-height">
                        <div class="footer-widget-link widget1">
                            <h4 class="second-title">Useful Links</h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="https://www.facebook.com/profile.php?id=100007477594671" target="_blank">Developer Facebook account</a></li>
                                        <li><a href="25-contact.html" target="_blank"></a></li>
                                        <li><a href="11-course-grid-02.html" target="_blank">Courses</a></li>
                                        <li><a href="24-faqs.html" target="_blank">FAQS</a></li>
                                        <li><a href="15-events-listview.html" target="_blank">Events</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <ul>
                                        <li><a href="#">Become a Teacher</a></li>
                                        <li><a href="#">Maintenance</a></li>
                                        <li><a href="#">Language Packs</a></li>
                                        <li><a href="#">LearnPress</a></li>
                                        <li><a href="#">Release Status</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 col-sm-6 col-xs-12 tb-height">
                        <div class="footer-widget-course widget2">
                            <h4 class="second-title">Recent Courses</h4>
                            <div class="media single-widget-course">
                                <div class="media-left">
                                    <a href="14-course-details.html" target="_blank">
                                        <img class="media-object" src="img/footer/4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="14-course-details.html" target="_blank">Dance Class</a></h4>
                                    <span>$20/Day</span>
                                </div>
                            </div>
                            <div class="media single-widget-course">
                                <div class="media-left">
                                    <a href="14-course-details.html" target="_blank">
                                        <img class="media-object" src="img/footer/5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="14-course-details.html" target="_blank">Music Class</a></h4>
                                    <span>$25/Day</span>
                                </div>
                            </div>
                            <div class="media single-widget-course">
                                <div class="media-left">
                                    <a href="14-course-details.html" target="_blank">
                                        <img class="media-object" src="img/footer/6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="14-course-details.html" target="_blank">Drawing Class</a></h4>
                                    <span>$30/Day</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 tb-height">
                        <div class="footer-widget-contact widget3">
                            <h4 class="second-title">Send Message</h4>
                            <form action="#">
                                <p><input placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" type="text" required></p>
                                <p><input placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" type="email" required></p>
                                <p><textarea cols="30" rows="10" placeholder="Comment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Comment'" required></textarea></p>
                                <p><button class="btn submit-btn">Send</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-social-link">
                        <ul class="flex flex-center">
                            <li><a href="https://www.facebook.com/profile.php?id=100007477594671"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/yethuaung481995"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ye-thu-aung-780a54123/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/112908555851270003218?tab=mX"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom-text">
                        <p>Copyright &amp;copy 2017. Designed by <a href="#">Codepixar Studio</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
