
//    Font Family

$nunito		: 'Nunito', sans-serif;
$fjalla-one	: 'Fjalla One', sans-serif;


$title-color	: #333333;
$text-color		: #666666;
$gray-color     : #999999;
$blue-color     : #001e32;
$dark-gray		: #eeeeee;

$light			: #fff;
$dark			: #000;


 $border-radius	: 2px;



/*--------------------------- Color variations ----------------------*/

$primary-color	: #f85b31;
$primary-color2	: #8153ff;
$primary-color3 : #5ac329;

